{
	"root": true,
	"extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": ["./tsconfig.json", "./tsconfig.test.json"]
	},
	"plugins": ["@typescript-eslint"],
	"ignorePatterns": ["**/*.d.ts"],
	"overrides": [
		{
			"files": ["src/**/*.ts"],
			"rules": {
				"@typescript-eslint/no-unused-vars": [
					"error",
					{
						"args": "all",
						"argsIgnorePattern": "^_",
						"caughtErrors": "all",
						"caughtErrorsIgnorePattern": "^_",
						"destructuredArrayIgnorePattern": "^_",
						"varsIgnorePattern": "^_",
						"ignoreRestSiblings": true
					}
				],
				"@typescript-eslint/no-shadow": "error",
				"@typescript-eslint/lines-between-class-members": "off",
				"@typescript-eslint/no-implied-eval": ["off"],

				"no-console": "off",
				"no-await-in-loop": "off",
				"class-methods-use-this": "off",
				"no-restricted-syntax": ["error", "LabeledStatement", "WithStatement"],
				"import/prefer-default-export": "off",
				"import/order": [
					"error",
					{
						"groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
						"alphabetize": {
							"order": "asc",
							"caseInsensitive": true
						},
						"newlines-between": "always"
					}
				]
			}
		},
		{
			"files": [
				"*.config.ts",
				"*.config.js",
				"vite.config.*.ts",
				"jest.config.ts",
				"jest.config.js"
			],
			"rules": {
				"import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
			}
		},
		{
			"files": ["tests/**/*.ts", "**/*.test.ts", "**/*.spec.ts"],
			"rules": {
				"import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
			}
		}
	]
}