.git
.gitignore
.DS_Store
.npmrc
.nvmrc
.eslintrc
.prettierrc
node_modules
src
public
makefile
vite.config.ts
tsconfig.json
*.log
*.lock
dist/index.html
dist/assets
dist/src/main.d.ts
index.html
src/main.ts
src/templates/ 